<h1>Admin Dashboard</h1>


<p> Total Product: <span class="product badge"> <%= @total_product  %> </span></a>  </p>
<p> Total Categories: <span class="product badge"> <%= @total_category  %> </span></a>  </p>

